/* modularizacion de codigo se importa con @import */
header nav div div div nav .textonav {
  color: white; }

header nav div div div nav .animate__animated.animate__pulse {
  --animate-duration: 2s;
  --animate-delay: 0.9s; }
