header {
    nav{
        div{
            img{

            }
            button{
                span{}
            }
            div{
                ul{ 
                    li{ font-family:noto ;
                        font-weight: bolder;
                        
                        a{ 
                        &:hover{ 
                            color:#bf2626  !important; }
                         color: beige !important; 
                        }
                    }
                                                                
                    
                }
            }
        }
    }
}
